* {
  padding: 0;
  margin: 0;
}
main{
  width: 100vw;
}
 
#a{
  height: 75px;
}

#b{
  height:150px;
}

#c{
  width: 100vw;
  height: 125px;
  }
#d{
  height: 125px;
  }

#container2 {
  display: flex;
}

#e{
  width: 50vw;
  height: 250px;
}
#f{
  width: 50vw;
  height: 250px;
}

#container3{
  display:flex;  
}

#g{
  width: 50vw;
  height: 250px;
}
#h{
  width: 50vw;
  height: 250px;
}
#i{
  clear: both;
  height: 80px;
 }



@media only screen and (min-width : 768px){

#a{    
    height: 100px;
}
#b{
    position: absolute;
    width: 20%;
    height: 600px;
}
 #large{
      display: flex;
      left:20%; 
  }

#container1{
      position: relative;
      left:20%; 
      display:flex;
      width: 80%;
  }
  
  #c{
      width: 40vw;
      height: 200px;
  }
  #d{
      width: 40vw;
      height: 200px;
  }

  #e{
      width: 20vw;
      height: 250px;
  }
  #f{
      width: 20vw;
      height: 250px;
  }
  #g{
      width: 20vw;
      height: 250px;
  }
  #h{
      width: 20vw;
      height: 250px;
  }
  #i{
      width: 100vw;
      height: 150px;
  }

}

