body * {
  
    text-align: justify;
    font-size: 45px;
    vertical-align: baseline;
}
* {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 767px) {
#a {
  width: 100%;
  height: 75px;
  background-color: red;   
}

#b {
  width: 100%;
  height: 150px;
  background-color: rgb(150, 150, 182);
}
#c {
  width:  100%;
  height: 125px; 
  background-color: rgb(181, 201, 201);
}
#d {
  width: 100%;
  height: 125px;
  background-color: rgb(121, 90, 90);
}

#e {
  width: 50%;
  height: 250px;
  float: left;
  background-color: gray;
}

#f {
  width: 50%;
  height: 250px;
  float: right;
  background-color: darkgoldenrod;
}

#g {
  width: 50%;
  height: 250px;
  float: left;
  background-color: darkgreen;
}

#h {
  width: 50%;
  height: 250px;
  float: right;
  background-color: blue;
}

#i {
  width: 100%;
  height: 80px;
  clear: both;
  background-color: royalblue; 
} 
}

@media screen and (min-width: 768px) {
  #a {
      width: 100%;
      height: 100px;
      background-color: red; 
  }
  
  #b {
      width: 20%;
      height: 600px;
      float: left;
      background-color: rgb(150, 150, 182);
  }

  #c {
      width:  40%;
      height: 200px;
      float: left;
      background-color: rgb(181, 201, 201);
  }

  #d {
      width: 40%;
      height: 200px;
      float: right;
      background-color: rgb(121, 90, 90);
  }
  
  #e {
      width: 20%;
      height: 250px;
      float: left;
      background-color: gray;
  }
  
  #f {
      width: 20%;
      height: 250px;
      float: left;
      background-color: darkgoldenrod;
  }
  
  #g {
      width: 20%;
      height: 250px;
      float: left;
      background-color: darkgreen;
  }
  
  #h {
      width: 20%;
      height: 250px;
      float: right;
      background-color: blue;
  }
  
  #i {
      width: 80%;
      height: 150px;
      float: right;
      clear: none;
      background-color: royalblue;
  }
}

